# =========================
# Android / Gradle
# =========================
.gradle/
**/.gradle/
build/
**/build/
app/build/
.externalNativeBuild/
.cxx/
app/.cxx/
local.properties

# =========================
# Android Studio / IntelliJ
# =========================
.idea/
*.iml
*.ipr
*.iws
/out/

# =========================
# OS / Misc
# =========================
.DS_Store
*.log
/captures